/* styles-login.css */

body {
    background-color: #93CCEA;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

.login-box {
    width: 300px;
    padding: 15px;
    border: 1px solid #f8e068;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f8e068 ;
}

.btn {
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
}

input{
    align-items: center;
    font-size: 17px;
    width: 100%;
}

table {
    width: 100%;
    padding: 30px 30px;
    border-collapse: separate;
    border-spacing: 20px;
}