/* styles-main.css */

body {
    background-color: #93CCEA;
    color: #190919;
}

.title-page {
    text-align: center;
    background-color: #f8e068;
    color: #190919;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h4 {
    text-align: left;
} 

table {
    text-align: center;
    width: 100%;
    border-color: black;
}

button {
    background-color: #f8e068;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    border-color: #ddc862;
}

