{% extends 'base.html' %}

{% load static%}

{% block meta %}
<title>{{ apps_name }}</title>
{% endblock meta %}

{% block content %}
<div class="title-page">
    <h1 class="title-h1">DS Museum Collections</h1>
    <h4>Name    : {{ name }}</h4>
    <h4>NPM     : {{ npm }}</h4>
    <h4>Class   : {{ class }}</h4>
    <br>
</div>

<div class="body-page">
    <br>
    <h3>There are {{ collection_count }} collection in DS Museum</h3>
    <div class="container">
        {% for product in products %}
            <div class="collection collection{{ product.pk }}">
                <div class="collection-card">
                    <div class="collection-front">
                        <div class="collection-name">
                            <p>{{ product.collection }}</p>
                        </div>
                        <p>Type: {{ product.type }}</p>
                        <p>Amount: {{ product.amount }}</p>
                        <p>Year Invented: {{ product.year }}</p>
                    </div>
                    <div class="collection-back">
                        <p>{{ product.description }}</p>
                        <a href="{% url 'main:edit_collection' product.pk %}">
                            <button>Edit</button>
                        </a>
                        <a href="{% url 'main:delete_collection' product.pk %}">
                            <button>Delete</button>
                        </a>
                    </div>
                </div>
            </div>            
        {% endfor %}
    </div>

    <h5>Admin: {{ account }}</h5>
    <h5>Last login session: {{ last_login }}</h5>

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Collection
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

</div>
    
<link rel="stylesheet" type="text/css" href="{% static 'css/styles-main.css' %}" defer>
<script src="{% static 'js/styles-main.js' %}" defer></script>

{% endblock content %}

<!-- {% url 'main:logout' %} -->